Repository ruby/www.ruby-lang.org, pull requests merged in 2019-12, with the labels that each got.

#2168 Translate Ruby 2.6.5 Release News (id)
  id/news/_posts/2019-10-01-ruby-2-6-5-released.md
Labels: news, translation

#2306 Translate "Ruby 2.7.0-preview2 Released" (ko)
  ko/news/_posts/2019-10-22-ruby-2-7-0-preview2-released.md
Labels: news, translation

#2307 Update Ruby Central section (id)
  id/community/conferences/index.md
Labels: content, dead link

#2310 Remove defunct RubyNation website (translations)
  bg/community/conferences/index.md
  id/community/conferences/index.md
  it/community/conferences/index.md
  pt/community/conferences/index.md
  ru/community/conferences/index.md
  vi/community/conferences/index.md
  zh_cn/community/conferences/index.md
  zh_tw/community/conferences/index.md
Labels: all langs, dead link

#2309 Translate separation of positional and keyword arguments post (tr)
  tr/news/_posts/2019-12-12-separation-of-positional-and-keyword-arguments-in-ruby-3-0.md
Labels: news, translation

#2302 Translate 2.7.0-preview3 post (es)
  es/news/_posts/2019-11-23-ruby-2-7-0-preview3-released.md
Labels: translation

#2329 Follow #2324 (tr)
  tr/news/_posts/2019-12-12-separation-of-positional-and-keyword-arguments-in-ruby-3-0.md
Labels: news, translation

#2328 Follow changes to 2.7.0-preview3 released post(tr)
  tr/news/_posts/2019-11-23-ruby-2-7-0-preview3-released.md
Labels: news, translation

#2322 Translate Ruby 2.7.0-rc1 released post (tr)
  tr/news/_posts/2019-12-17-ruby-2-7-0-rc1-released.md
Labels: news, translation

#2323 Translate Ruby 2.7.0-rc2 released post (tr)
  tr/news/_posts/2019-12-21-ruby-2-7-0-rc2-released.md
Labels: news, translation

#2338 Translate Ruby 2.7.0 Released post (tr)
  tr/news/_posts/2019-12-25-ruby-2-7-0-released.md
Labels: news, translation
